<nav class="navbar">
	<div class="navbar-container">
		<a href="/" class="navbar-logo">Pregnancy Healthcare</a>
		<ul class="nav-menu">
			<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
			<li class="nav-item">
				<a href="/dashboard" class="nav-link">Dashboard</a>
			</li>
			<li class="nav-item">
				<a href="/pregnancy" class="nav-link">Pregnancy</a>
			</li>
			<li class="nav-item">
				<a href="/appointments" class="nav-link">Appointments</a>
			</li>
			<li class="nav-item">
				<a href="/symptom_checker" class="nav-link">Symptom Checker</a>
			</li>
		</ul>
	</div>
</nav>
